@import 'colors';

$number-box-height: 60px;
$number-circle-height: 50px;
$number-circle-border-width: 2px;
$grey-text: #777;

body {
  background-color: #fff;
}
.main-page {
  background-color: #fff;
}
#d3-element {
  background-color: #fff;
  font-size: 18px;
  font-weight: 300;
  @media(max-width: 1200px) {
    font-size: 1.5vw;
  }
  @media(max-width: 768px) {
    font-size: 1.75vw;
  }
}
.d3-container {
  background-color: #fff;
  padding: 15px 20px;
}
.x-axis,
.y-axis {
  fill: #666;
  .tick {
    fill: $color-primary-3;
  }
  path.domain {
    fill: $color-primary-0;
  }
}
.horizontalGrid,
.verticalGrid {
  stroke: #aaa;
}
.graph-line {
  stroke-width: 6;
  stroke: $color-primary-2;
}
.graph-area {
  fill: $color-primary-1;
  opacity: 0.8;
}
.graph-label {
  .label-box {
    stroke-width: 1vw;
  }
  .label-line {
    stroke-width: 1vw;
  }
  &.user-guess-label {
    .label-box {
      stroke: $color-primary-0;
      fill: $color-primary-0;
    }
    .label-line {
      stroke: $color-primary-0;
    }
  }
  &.user-income-label {
    .label-box {
      stroke: $color-secondary-1-0;
      fill: $color-secondary-1-0;
    }
    .label-line {
      stroke: $color-secondary-1-0;
    }
  }
  .label-text {
    fill: #fff;
  }
}
.box-container {
  border: 1px solid #ccc;
}
.box {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin: 0px 0;
  //box-shadow: 0 0 10px 2px #ccc;
  .box-body {
    padding-left: 20px;
    height: 100%;
    .form-row {
      margin: 5px 0;
    }
    > div.form-group {
      margin: 10px 0;
      display: flex;
    }
    > div.loading-bar {
      text-align: center;
      font-size: 25px;
    }
    label {
      color: $color-primary-0;
      margin: auto 15px auto 0;
      font-weight: 300;
    }
    select {
      margin-right: 15px;
    }
    /* Remove controls from Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .input-income {
      margin-right: 10px;
      max-width: 200px;
      input {
        text-align: right;
      }
    }
    .button-group-household {
      display: table;
      margin-right: 10px;
      @media(min-width: 768px) {
        display: inline-table;
      }
    }
    .input-percentile {
      margin-right: 10px;
      input {
        text-align: right;
      }
    }
  }

  .box-title {
    font-size: 20px;
    font-weight: 300;
    height: 100%;
    color: #fff;
    float: left;
    padding: 5px 0 5px 10px;
    background-color: $color-primary-2;
  }
}
.box-user-info {
  padding-top: 15px;
  .user-info-header {
    min-height: 45px;
    color: #fff;
    background-color: $color-primary-2;
    position: relative;
    span {
      font-size: 24px;
      font-weight: 300;
      position: absolute;
      bottom: 5px;
    }
  }
  .user-info-container {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    font-size: 16px;
    border: 1px solid grey;
  }
  .user-info {
    flex: 0 1 auto;
    cursor: pointer;
    position: relative;
    .user-info-select-display {
      position: relative;
      z-index: 0;
      margin-right: 5px;
      color: $color-primary-2;
      &:hover, &:active {
        color: $color-primary-1;
      }
    }
    span.fa {
      position: relative;
      z-index: 0;
      width: auto;
      margin-right: 5px;
      color: $color-primary-0;
      &:hover, &:active {
        color: $color-primary-1;
      }
    }
  }
  .user-info-select {
    white-space: nowrap;
    position: absolute;
    right: 5px;
    width: auto;
    background-color: white;
    z-index: 100;
    border-top: 1px solid $color-primary-0;
    .user-info-item {
      border: 1px solid $color-primary-0;
      border-top: none;
      color: #666;
      padding: 5px 10px;
      &:hover, &:active {
        background-color: $color-primary-1;
        color: white;
      }
    }
  }
  .user-info-text {
    flex: 0 1 auto;
    margin-right: 5px;
    color: $grey-text;
  }
}

.btn-next {
  font-size: 2em;
  padding: 0;
  margin: 10px 0 5px 0;
  width: 100px;
  background-color: $color-primary-2;
  border-color: $color-primary-0;
  color: #fff;
  span {
    position: relative;
    top: 3px;
  }
  @media(min-width: 768px) {
    padding: 0;
    margin: 0 0 0 5px;
    width: 35px;
    color: $color-primary-2;
    background-color: transparent;
    border: none;
  }
  &:focus {
    color: #fff;
    background-color: $color-primary-2;
    border-color: $color-primary-0;
    @media(min-width: 768px) {
      color: $color-primary-1;
    }
  }
  &:hover, &:active {
    color: #fff;
    background-color: $color-primary-0;
    border-color: $color-primary-3;
    @media(min-width: 768px) {
      color: $color-primary-0;
      background-color: transparent;
      border: none;
    }
  }
}

.btn-selected {
  color: #fff;
  background-color: $color-primary-2;
  border-color: $color-primary-0;
  &:focus {
    color: #fff;
    background-color: $color-primary-2;
    border-color: $color-primary-0;
  }
  &:hover, &:active {
    color: #fff;
    background-color: $color-primary-0;
    border-color: $color-primary-3;
  }
}

.btn-start-over {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #fff;
  background-color: $color-primary-2;
  border-color: $color-primary-1;
  &:focus {
    color: #fff;
    background-color: $color-primary-2;
    border-color: $color-primary-1;
  }
  &:hover, &:active {
    color: #fff;
    background-color: $color-primary-0;
    border-color: $color-primary-1;
  }
}